{% load staticfiles %}
<div id="timeline"></div>
<script src="{% static 'timeline/js/timeline.js' %}"></script>
<script type="text/javascript">
var timeline;
$(document).ready(function() {

var timeline_json = {
	"events": []
};
             
var createTimeline = function () {
    {% for event in event_list %}
        var new_event = {
            "start_date": {
                "year": "{{ event.timestamp|date:'Y' }}",
                "month": "{{ event.timestamp|date:'m' }}",
                "day": "{{ event.timestamp|date:'d' }}",
                "hour": "{{ event.timestamp|date:'G' }}",
                "minute": "{{ event.timestamp|date:'i' }}",
                "second": "",
                "millisecond": "",
                "format": ""
            },
            "text": {
                "headline": "{{ event.headline }}",
                "text": "{{ event.text }}"
            }
        }
        timeline_json.events.push(new_event);
    {% endfor %}
}

    createTimeline();
    timeline = new TL.Timeline('timeline', timeline_json);
    timeline.goToEnd();
});
</script>


