{% load staticfiles %}
<div id="timeline"></div>
<script src="{% static 'timeline/js/timeline.js' %}"></script>
<script type="text/javascript">
var timeline;
var lastDroneEvent;
$(document).ready(function() {

var timeline_json = {
	"events": []
};
             
var createTimeline = function () {
    {% for droneEvent in existingEvents %}
        var milSeconds = Math.floor({{ droneEvent.timestamp.microsecond }} / 1000);
        var new_event = {
            "start_date": {
                "year": "{{ droneEvent.timestamp|date:'Y' }}",
                "month": "{{ droneEvent.timestamp|date:'m' }}",
                "day": "{{ droneEvent.timestamp|date:'d' }}",
                "hour": "{{ droneEvent.timestamp|date:'G' }}",
                "minute": "{{ droneEvent.timestamp|date:'i' }}",
                "second": "{{ droneEvent.timestamp|date:'s' }}",
                "millisecond": milSeconds.toString(),
                "format": ""
            },
            "text": {
                "headline": "{{ droneEvent.headline }}",
                "text": "{{ droneEvent.text }}"
            }
        }
        timeline_json.events.push(new_event);
    {% endfor %}
}

    createTimeline();
    lastDroneEvent = {{ last_event.id }};
    timeline = new TL.Timeline('timeline', timeline_json);
    timeline.goToEnd();
    
});
</script>


