.page-wrapper {
    position: relative;
    width: 100%;
    max-width: 120em;
    margin: 1.5em 0 0 0;
    padding: 0;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#mapContainer {
    position: relative;
    width: 900px;
    height: 759px;
    margin-left: 1.5em;
    float: left;
}

#map {
    position: relative;
    top: 0;
    left: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#timeline-wrapper {
    float: right;
    margin: 0 3em;
    max-width: 600px;
    width: 100%;
    max-height: 600px;
    height: 500px;
}

.right-side-container {
    float: right;
    max-width: 700px;
}

#coordForm {
    clear: both;
    padding-top: 0.8em;
}

.lbl {
    font-size: 17px;
}

.tile {
    float: left;
}

.ghost-select {
    display: none;
    z-index: 9000;
    position: absolute !important;
    cursor: default !important;
}

.ghost-active {
    display: block !important;
}

.ghost-select > span {
    background-color: rgba(239, 28, 190, 0.6);
    border: 1px solid #b20e8c;
    width: 100%;
    height: 100%;
    float: left;
}

*, *::after, *::before {
  box-sizing: border-box;
}
